/* home.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  margin: 20px;
  width: 100%;
}

.sidebar {
  width: 25%;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.sidebar h1 {
  font-size: 24px;
}

.sidebar form {
  margin-top: 20px;
}

.sidebar label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}

.sidebar input {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
}

.sidebar button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #45a049;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li img {
  width: 40%;
  height: 300px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

li .restaurant-info {
  padding: 15px;
}

li .restaurant-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

li .restaurant-info p {
  margin-bottom: 8px;
  color: #666;
}

li .restaurant-info span {
  font-weight: bold;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  li img {
    padding: 3%;
    width: 50%; /* Adjust for smaller screens */
    height: 150px; /* Adjust the height for smaller screens */
  }
}
